@charset "utf-8";
/* Template */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-image: url(../images/header.jpg);
  background-size: 100% 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: seagreen;
  background-blend-mode: screen;
  border-top: solid 1px #fff;
}

h1 {
  margin: 0;
  text-align: center;
  color: lightslategray;;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

nav,
footer {
  border-bottom: solid 1px #fff;
  border-top: solid 1px #fff;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  height: 50px;
}

footer {
  height: 120px;
}

footer ul li:nth-child(4) {
  display: block;
  text-align: center;
  padding-top: 10px;
}

nav a {
  padding: 0 5px;
}

a {
  color: #193CA3;
  text-decoration: none;
}

a:hover {
  color: indigo;
  text-decoration: underline;
}

main {
  background-color: lavender;
  color: black;
  padding: 5%;
  min-height: 67vh;
}

main img {
  display: block;
  margin: auto;
}

/* Gallery */

figure {
  text-align: center;
  margin: auto;
  width: 400px;
}

figure img {
  border: solid 1px #fff;
  box-sizing: border-box;
}

figure:nth-child(2) {
  padding: 50px 0;
}

figcaption {
  background-color: peachpuff;
  padding: 5px 0;
  border-bottom: solid 1px #fff;
  border-left: solid 1px #fff;
  border-right: solid 1px #fff;
}

/* Home */

article {
  text-align: justify;
}

#phpLogo {
  padding-top: 50px;
}

/* Contact */

input, textarea {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: azure;
  border: solid 1px #fff;
}

textarea {
  resize: none;
}

/* Breaks */

@media only Screen and (max-width: 992px) {
  figure:nth-child(2) { 
    padding: unset;
  }
  figure,
  main img {
    width: 80%;
  }
  main img {
    height: unset;
    width: 100%;
  }
  figure {
    padding: 10%;
  }
}
