<figure>
    <img width="400" height="267" src="../images/phpCode.jpg"
         alt="PHP computer code screen">
    <figcaption>PHP Code</figcaption>
</figure>
<figure>
    <img width="400" height="267"  src="../images/phpToon.jpg"
         alt="PHP cartoon, Hello World">
    <figcaption>Helo World</figcaption>
</figure>
<figure>
    <img width="400" height="267" src="../images/phpToy.jpg"
         alt="Elephant PHP toy on design laptop">
    <figcaption>Get Cudly With PHP</figcaption>
</figure>